:root {
  --blue-50: #0a84ff;
  --blue-60: #0060df;
  --blue-70: #003eaa;
  --blue-80: #002275;
  --blue-90: #000f40;
  --magenta-70: #b5007f;
  --number-of-sections: 5;
}

body {
  padding-top: 50px !important; /*to account for the banner*/
  margin: 0;
  font-family: "Fira Sans";
  color: white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: white;
  text-decoration: none;
}

#contents > a > section {
  background-color: var(--blue-50);
}
#contents > a:nth-child(2) > section {
  background-color: var(--blue-60);
}
#contents > a:nth-child(3) > section {
  background-color: var(--blue-70);
}
#contents > a:nth-child(4) > section {
  background-color: var(--blue-80);
}
#contents > a:nth-child(5) > section {
  background-color: var(--blue-90);
}

header {
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

section {
  padding: 1rem;
  height: calc(100vh / var(--number-of-sections) - 2rem - 50px / var(--number-of-sections));
}

section:hover, section:active, section:focus {
  background-color: var(--magenta-70)!important;
}

p {
  display: inline-block;
  margin: 0 .5rem 0 0;
  font-weight: 500;
  font-size: 1.25rem;
  transition: all 0.3s cubic-bezier(.07,.95,0,1);
}

p::after {
  background-image: url(open-in-new-16.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 16px;
  margin-left: 8px;
  margin-top: -3px;
  vertical-align: middle;
  width: 16px;
}

img {
  height: 1rem;
  width: 1rem;
}

@media screen and (min-width: 30em) {
  section {
    padding: 2rem;
    height: calc(100vh / var(--number-of-sections) - 4rem - 50px / var(--number-of-sections));
  }

  p {
    font-size: 2.25rem;
  }

  p::after {
    background-size: 24px;
    height: 24px;
    margin-left: 16px;
    margin-top: -2px;
    width: 24px;
  }
}

@media screen and (min-width: 60em) {
  p {
    font-size: 3rem;
  }

  p::after {
    background-size: 32px;
    height: 32px;
    margin-left: 24px;
    width: 32px;
  }
}

#widget, #widget * {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#widget {
  font-family: Fira Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: 100;
  box-sizing: border-box;
  background: #ffffff;
  color: white;
  height: 50px;
  line-height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px 0 20px;
  text-align: left;
  color: #737373;
  border-bottom: 1px solid #ededf0;
  z-index: 99;
}

#widget a {
  font-weight: 400;
  font-size: 12px;
  color: #737373;
  text-decoration: none;
}

#widget a.link {
  float: right;
  padding-left: 20px;
}

#widget a:hover {
  text-decoration: underline;
}

#widget .logo {
  background-image: url('logo.png');
  height: 100%;
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center left;
  display: inline-block;
  padding-left: 45px;
}

#widget h1 {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

